.box-layout {
    background: url('/images/bg.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    &__box {
        background: fade-out(white, .15);
        border-radius: 3px;
        padding: $l-size $m-size;
        text-align: center;
        width: 25rem;
    }

    &__title {
        margin: 0 0 $m-size 0;
        line-height: 1;
    }
}