.comments {


    &__header {
        color: gray;
        font-size: 2rem;
        padding: 0 0 .4rem 2rem;
        border-bottom: 2px solid lightgray;
    }
}


.add-comment {
    margin-top: 2rem;
    display: flex;
    height: 16.8rem;
    justify-content: space-between;
    align-items: flex-start;

    &__avatar {
        height: 6rem;
        width: 6rem;
        border-radius: 100%;
        margin: 0 1rem 1rem 1rem;

        @media only screen and (max-width: 650px) {
            margin: 0 1rem 1rem 2rem;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 0 6rem 0 1.7rem;

        &--right {
            display: flex;
            flex-direction: column;
            flex-basis: 70%;
            font-family: $font-secondary;
        }

        &--nick {
            font-family: $font-secondary;
            font-size: 1.9rem;
            margin-left: 1rem;
            margin-bottom: .7rem;
            height: 4rem;
            flex-basis: 30%;
            background-color: inherit;
            border-style: none;
        }

        &--comment {
            font-family: $font-secondary;
            font-size: 1.7rem;
            border-style: none;
            background-color: inherit;
            height: 8rem;
            resize: none;
            border: 2px solid lightgray;
            border-radius: 4px;
            padding: 1rem;

            &:hover {
                border: solid 2px #e6e6e6;
                background-color: #f5f4f4;
            }


            &:active {}

            &:focus {
                border: solid 2px #e6e6e6;
                background-color: #f5f4f4;
            }
        }

        &--button {
            width: 10rem;
            font-size: 1.7rem;
            padding: 1.2rem;
            align-self: flex-end;
            color: #c4c4c4;

            &:hover {
                color: #5a5a5a;
            }
        }
    }
}

.comment {
    margin-top: 2rem;
    display: flex;
    min-height: 13rem;
    align-items: flex-start;



    &__avatar {
        height: 6rem;
        width: 6rem;
        border-radius: 100%;
        margin: 0 1rem 1rem 1rem;

        @media only screen and (max-width: 650px) {
            margin: 0 1rem 1rem 2rem;
        }

    }

    &__content {
        margin-left: 1.7rem;
        flex: 1;
        display: flex;
        flex-direction: column;

        &-info {
            display: flex;
            justify-content: space-between;
            position: relative;

        }
    }

    &-info {

        &__author {
            font-size: 2.3rem;
            color: #5a5a5a;
        }

        &__date {
            position: absolute;
            top: 3px;
            left: 36rem;
            font-family: $font-primary;
            font-size: 1.7rem;
            color: #5a5a5a;

            @media only screen and (max-width: 500px) {
                left: 26rem;
            }
        }

        &__likes {
            display: flex;
            position: relative;
        }

        &__likes-amount {
            font-size: 1.7rem;
            position: absolute;
            top: .3rem;
            right: 7rem;
        }

        &__button {

            position: absolute;
            top: .9rem;
            right: 3.7rem;
            transition: all .2s ease-in;


            &--like {
                img {
                    opacity: .2;
                    height: 1.6rem;
                    width: 1.6rem;


                    &:hover {
                        opacity: .7;
                        transform: scale(1.1);
                    }

                    &:active {
                        opacity: .7;
                        transform: scale(1.0);
                    }
                }
            }


            &--unlike {
                img {
                    opacity: .8;
                    height: 1.6rem;
                    width: 1.6rem;
                    transform: scale(1.3);


                    &:hover {
                        opacity: 1;
                        transform: scale(1.3);
                    }

                    &:active {
                        transform: scale(1.1);
                    }
                }
            }
        }

    }

    &__text {
        margin: 1.5rem 6rem 0 0;
        font-family: $font-secondary;
        font-size: 2rem;
        color: #a7a6a6;
        text-align: justify;
        line-height: 1.7;
    }
}