.header {
    display: flex;
    flex-direction: column;
    position: sticky;

    height: 15rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);

    &__title {

        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 2rem;
        padding-bottom: 1.4rem;
    }
}

.header-navbar {
    // display: flex;


    &__list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding-bottom: 2rem;
    }

    &__list-node {
        cursor: pointer;

        &:hover {

            color: #282828;
        }
    }
}