.text-input {
    border: 1px solid #cacccd;
    height: 5rem;
    padding: $s-size;
    font-size: $font-size-large;
    font-weight: 300;
}

.select {
    @extend .text-input;
    border-style: none;

}

.textarea {
    @extend .text-input;
    height: 10rem;
}