.page-header {

    background: $off-white;
    margin-bottom: $l-size;
    padding: $l-size 0;


    &__actions {
        margin-top: $m-size;

    }

    &__title {
        font-size: 2rem;
        font-weight: 300;
        margin: 0;

        span {
            font-weight: 700;
        }
    }
}