.post-preview {
    display: flex;
    width: inherit;
    height: 27.5rem;

    border-bottom: 1px solid #e1e1e1;

    @media only screen and (max-width: 650px) {
        flex-direction: column;
        height: 59rem;
        padding: 0 11rem;
        border: none;
    }

    @media only screen and (max-width: 480px) {

        padding: 0;
        border: none;
    }

    &__image {
        max-height: 27.5rem;
        width: 50%; //
        object-fit: cover;

        @media only screen and (max-width: 650px) {
            width: 100%;
            border-left: 1px solid #c4c4c4;
            border-right: 1px solid #c4c4c4;
        }


    }

    &__info {
        padding: 1rem 2rem 1rem 2rem;
        flex-basis: 50%;
        flex: 1;
        position: relative;

        @media only screen and (max-width: 650px) {
            border-bottom: 1px solid #c4c4c4;
            border-left: 1px solid #c4c4c4;
            border-right: 1px solid #c4c4c4;
        }

    }


}

.post-preview__info-date {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: .6rem;
}

.post-preview-info__likes {
    display: flex;
    position: relative;
    align-items: center;
}

.heart-icon {


    margin-left: .6rem;
    top: -5rem;
    height: 1.2rem;
    width: 1.2rem;
    opacity: .5;
}