.side-menu {
    height: max-content;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    transition: all 4s ease-in-out;

    &__list {
        list-style: none;
        margin: 20rem 0 0 3rem;
    }

    &__list-node {
        transition: all .1s ease-in-out;

        &:hover {
            cursor: pointer;
            color: #525252;
        }
    }
}