.text-header {
    font-size: 4.9rem;
    font-weight: 400;

    @media only screen and (max-width: 450px) {

        font-size: 4.4rem;
    }

    text-decoration: none;
    outline: none;

    &:focus {
        box-shadow: 0 0 2px rgba(0, 0, 0, .3);
        outline: none !important;
    }
}

.text-navbar-link {
    font-size: 2.1rem;
    font-weight: 400;
    color: #525252;
}

.text-side-menu-link {
    font-size: 1.4rem;
    font-weight: 400;
    color: #959595;
    padding-bottom: .4rem;
}

.text-post-preview-title {
    padding-top: 2rem;
    font-size: 3.2rem;
    line-height: 1.2;
    color: #5a5a5a;
}

.text-post-preview-info {
    font-size: 1.5rem;
    letter-spacing: .2rem;
    color: #707070;
}

.text-post-preview-subtitle {
    font-size: 1.9rem;
    color: #5a5a5a;
    padding-top: 2.5rem;
}

.text-post-preview-readmore {
    display: inline-block;
    position: absolute;
    font-size: 1.8rem;
    text-decoration: underline;
    color: #9c9c9c;
    top: 21rem;
    left: 38rem;

    @media only screen and (max-width: 650px) {
        font-size: 2rem;
        top: 26rem;
        left: auto;
        right: 8rem;
    }

}