.text-header {
    font-size: 5.2rem;
    font-weight: 400;
}

.text-navbar-link {
    font-size: 1.8rem;
    font-weight: 400;
    color: #525252;
}

.text-side-menu-link {
    font-size: 1.4rem;
    font-weight: 400;
    color: #959595;
}

.text-post-preview-title {
    padding-top: 2rem;
    font-size: 3.2rem;
    line-height: 1.2;
}

.text-post-preview-info {
    font-size: 1.2rem;
}