#app {
    display: grid;
    grid-template-columns: 1fr 100rem 1fr;
    height: 100vh;
    position: relative;

    @media only screen and (max-width: 900px) {
        grid-template-columns: 0fr 1fr 0fr;
    }


}

.main {
    grid-column: 2 / 3;
    // margin-right: -50px;
    /* maximum width of scrollbar */
    // padding-right: 50px;
    /* maximum width of scrollbar */
    height: 100%;
    width: 100%;
    // overflow: hidden;

    position: absolute;
    // top: -10rem;
}

.side-menu {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    z-index: 100;

    @media only screen and (max-width: 900px) {
        display: none;
    }
}

.post-preview-list {
    width: 100%;
    height: 86vh;
}

.side-left {
    grid-column: 1 / 2;
    grid-row: 1/ 2;
    height: 100vh;
    background-color: $off-white;
    z-index: 80;
}

.side-right {
    grid-column: 3 / 4;
    grid-row: 1/ 2;
    height: 100vh;
    background-color: $off-white;
    z-index: 80;
}

.simplebar-scrollbar {
    position: absolute;
    right: 2px;
    width: 100px;
    min-height: 10px;
}

.simplebar-scrollbar:before {
    position: absolute;
    content: "";
    background: black;
    border-radius: 4px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.2s linear;
}