// Colors
$dark-grey: #333333;
$grey: #666;
$blue: #4286f4;
$dark-blue: #364051;
$off-white: #f7f7f7;

// Font-size

$font-size-large: 2.4rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;